
<!--to be done-->
{{ product.name }}<br/>
{{ product.category }}</br>
{% for size in sizes %}
   

   <button type="button" class="btn btn-secondary">{{size.size__name}}</button>


{% endfor %}
<br>

{% for base in bases %}
          
       <button type="button" class="btn btn-secondary">{{base.base__name}}</button><br>
{% endfor %}


<br>

<th>€<span class="product-price-{{product.id}}">{{product.price}}</span></th>


 {{ product.description|truncatewords:5 }}</br>
 <img src="{{product.image.url}}" alt ="image"/><br/>


    <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>



